<body class="normal_background">
  <div class="container" style="margin: 0 auto;">
      <div class="row center-xs">
        <div class="col-md-4">
          <div>
            <h1 class="articles-title font-lemonade red-letters">Artículos</h1>
          </div>
        </div>
      </div>
      <div class="row">
          <%= render @articles %>
      </div>

      <div style="margin-top: 2em;">
          <%= will_paginate @articles, :previous_label => 'Anterior', :next_label => 'Siguiente', class: 'flickr_pagination font-lemonade' %>
      </div>
  </div>
</body>
