<h1>Hola mundo!</h1>
<p>Comenzando con el Blog para que conozcas precios, platillos y ambientes de distintos restaurantes de la ciudad redactados por Martha Elizabeth Malo Ocampo.</p>
<%[1, 2, 3, 4].each do |number|%>
    <p>Numero: <%= number%></p>
<%end%>
