html,body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

li{
    list-style: none;
}

a,a:visited{
    color: inherit !important;
    text-decoration: none;
}

#logo{
    font-size: 1.2em;
}

.btn{
    background-color: inherit;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 12px;
}

.no-margin{
    margin: 0px;
}

.red-letters{
    color: rgb(200, 50, 50);
}

.be-red{
    background-color: rgb(200, 50, 50);
}

.be-blue{
    background-color: rgb(17, 58, 82);
}

.white{
    color: white;
}

.large-padding{
    padding: 0.2px 5px;
}

.top-space{
    margin-top: 1em;
}

.field{
    margin-top: 1em;
}

.form-control{
    border:  none;
    border-bottom: 1px solid;
    outline: none;
    width: 100%;
    display: block;
    padding: 10px 0px;
    font-size: 1.2em;
}
