
html,body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

li{
    list-style: none;
}

a,a:visited{
    color: inherit !important;
    text-decoration: none;
}

#logo{
    font-size: 1.2em;
}

.btn{
    background-color: inherit;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 12px;
}

.no-margin{
    margin: 0px;
}

.be-big{
    font-size: 2em;
}

.white{
    color: white;
}

.red-letters{
    color: rgb(200, 50, 50) !important;
}

.blue-letters{
    color: blue !important;
}

.gray-letters{
    color: #616161;
}

.be-red{
    background-color: rgb(200, 50, 50);
}

.be-blue{
    background-color: rgb(17, 58, 82);
}

.large-padding{
    padding: 0.2px 5px;
}

.field, .top-space, .actions{
    margin-top: 1em;
}

.text-center{
    text-align: center;
}

.centrar-vertical{
    vertical-align: middle;
}

.background-cover{
    background-position: center;
    background-size: cover;
}

.article-height{
    height: 200px;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.form-control{
    border:  none;
    border-bottom: 1px solid;
    outline: none;
    width: 100%;
    display: block;
    padding: 10px 0px;
    font-size: 1.2em;
}

.text-left{
    text-align: left;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-space{
    margin-bottom: 2em;
}

.text-right{
    text-align: right;
}

.be-small{
    font-size: 12px;
}

.uderline{
    text-decoration: underline;
}

.text-justify{
    text-align: justify;
}
