html,body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    overflow-x:hidden;
}

li{
    list-style: none;
}

a,a:visited{
    color: inherit !important;
    text-decoration: none;
}

img{
    height: auto;
    max-width: 100%;
}

#logo{
    font-size: 1.2em;
}

.nav-font{
    font-family: 'Antic Slab', serif;
    font-size: 18px;
}

.font-Antic{
    font-family: 'Antic Slab', serif;
}

.nav-space{
    margin-top: 8px;
}

.btn{
    background-color: inherit;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 12px;
}

.no-margin{
    margin: 0px;
}

.be-big{
    font-size: 2em;
}

.be-medium{
    font-size: 20px;
}

.white-letters{
    color: white;
}

.red-letters{
    color: #c62828 !important;
}

.blue-letters{
    color: blue !important;
}

.gray-letters{
    color: #616161;
}

.be-red{
    background-color: rgb(200, 50, 50);
}

.be-blue{
    background-color: rgb(17, 58, 82);
}

.large-padding{
    padding: 0.2px 10px;
}

.field, .top-space, .actions{
    margin-top: 1em;
}

.text-center{
    text-align: center;
}

.centrar-vertical{
    vertical-align: middle;
}

.background-cover{
    background-position: center;
    background-size: cover;
}

.article-height{
    height: 200px;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.boton{
    background-color: inherit;
    border-style: outset;;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}

.form-control{
    border:  none;
    border-bottom: 1px solid;
    outline: none;
    width: 100%;
    display: block;
    padding: 10px 0px;
    font-size: 1.2em;
}

.text-left{
    text-align: left;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-space{
    margin-bottom: 2em;
}

.text-right{
    text-align: right;
}

.be-small{
    font-size: 12px;
}

.uderline{
    text-decoration: underline;
}

.text-justify{
    text-align: justify;
}

.hidden{
    display: none !important;
}

.background-main-fondo{
    background-image: image-url('fondo_1.jpg');
}

.background-logo{
    background-image: image-url('cbyc.png');
}

.backG-home{
    margin-top: 1.5em;
    border-style: solid;
    border-color: #b71c1c;
    background-color: #c62828;
}

.backG-home-opt{
    border-style: outset;
    border-color: #b71c1c;
    background-color: #ef9a9a;
}

.material-icons{
    font-size: 45px;
    color: #FFFFFF;
}

#image{
    max-width: 50%;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.cuadro{
    box-shadow: 10px 10px;
}

.big-font{
    font-size: 40px;
}

.medium-font{
    font-size: 15px;
}

.normal_background{
    background-image: image-url("back_cbyc.png");
    background-size: cover;
    background-position: center;
}
