<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> fade in" style="margin: 0px auto;">
        <a href="#" data-dismiss="alert" class="close">&times;</a>
        <ul>
            <%= value %>
            <% if value.include? "Invalid Email or password." %>
                <li><strong>Email o contrase침a invalidos.</strong></li>
            <% elsif value.include? "Signed in successfully." %>
                <li><strong>Iniciaste sesi칩n correctamente.</strong></li>
            <% elsif value.include? "Signed out successfully." %>
                <li><strong>Cerraste sesi칩n correctamente.</strong></li>
            <% elsif value.include? "You need to sign in or sign up before continuing." %>
              <li><strong>Necesitas iniciar sesi칩n antes de continuar.</strong></li>
            <%end%>
        </ul>
    </div>
<%end%>
